<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
	<block name="title"><title>{$title|default="cookie"}</title></block>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/Adminstyle.css">
    <JS href="__PUBLIC__/js/jquery.js" />
	<JS href="__PUBLIC__/js/bootstrap.js" />
	<JS href="__PUBLIC__/js/Admin.js" />
	<script type="text/javascript">
	  
	   
  </script>
</head>
<body>
 
    
     <button  onclick="save()">cookie</button>
     
      
</body>
</html>

