<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
	<block name="title"><title>{$title|default="后台管理系统"}</title></block>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/Adminstyle.css">
    <JS href="__PUBLIC__/js/jquery.js" />
	<JS href="__PUBLIC__/js/bootstrap.js" />
	<JS href="__PUBLIC__/js/Admin.js" />
</head>
<body>
 <script type="text/javascript">
   $(function(){
    
   })
  </script>
      <ol class="breadcrumb" style="height: 30px;padding-bottom: 0;margin-bottom: 10px">
         <li><a href="admin.html" target="myframe"><span class="glyphicon glyphicon-home"></span> 首页</a></li>
         <li><a href="#"></a></li>
      </ol>
      <div class="row">
         <div class="col-sm-3">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h4 class="panel-title">校内公告<span class="close">&times;</span></h4>
              </div>
              <div class="panel-body">
          
              </div>
             </div>
             <div class="panel panel-primary">
              <div class="panel-heading">
                <h4 class="panel-title">校内公告<span class="close">&times;</span></h4>
              </div>
              <div class="panel-body">
          
              </div>
             </div>
             <div class="panel panel-primary">
              <div class="panel-heading">
                <h4 class="panel-title">校内公告<span class="close">&times;</span></h4>
              </div>
              <div class="panel-body">
          
              </div>
             </div>
         </div>
         <div class="col-sm-9">
             <div class="panel panel-primary">
              <div class="panel-heading">
                <h4 class="panel-title">最新新闻<span class="close">&times;</span></h4>
              </div>
              <div class="panel-body">
                  <ul><li>阿萨德交换空间</li></ul>
                  <ul><li>阿萨德交换空间</li></ul>
                  <ul><li>阿萨德交换空间</li></ul>
                  <ul><li>阿萨德交换空间</li></ul>
                  <ul><li>阿萨德交换空间</li></ul>
                  <ul><li>阿萨德交换空间</li></ul>
                  <ul><li>阿萨德交换空间</li></ul>
              </div>
             </div>
         </div>
      </div>
     
     
      
</body>
</html>

