*{
    margin: 0;
    padding:0;
}
a{
    text-decoration:none;
}
ul{
    list-style: none;
}
#content{
    margin: 0 15px 20px;
}
#content .num{
    color: #B8B8B8;
    font-size: 12px;
}
#content .price{
    height: 35px;
    margin: 5px auto 15px;
    line-height: 35px;
}
#content .price #saleprice{
    color: #349Bff;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    float: left;
    display: inline-block;
    margin-right: 35px;
}
#content .price button{
    background-color: #ff6000;
    float: right;
    color: #fff;
}
#content .lun{
    height:18px;
    line-height: 18px;
}
#content .line{
    width: 2px;
    height: 13px;
    background: #349Bff;
    float: left;
    margin-top: 3px;
}
#content .word{
    color: #888;
    font-weight: 500;
    font-size: 14px;
    float: left;
    margin-left: 2px;
}
#content .discuss{
    font-size: 13px;
    height: 100px;
    margin-top: 10px;
}
.inputLeft{
    height: 35px;

}






