*{
    padding: 0;
    margin: 0;
}
#head{
    position: fixed;
    top:0;
    z-index: 3;
    background-color: white;
}
.small_list_group li{
    border-radius: 0;
    border-style: dashed;
}
.col-xs-8,.col-xs-1,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-9,.col-xs-10,.col-xs-11,.col-xs-12{
    padding: 0;
}
.panel{
    background-color: white;
}